import { DataSource } from "typeorm";

const _ds = new DataSource({
    type: "mysql",
    host: "localhost",
    port: 3306,
    username: "",
    password: "",
    database: "",
    entities: ["dist/**/*.entity{.ts,.js}"],
    migrations: ["dist/migrations/*{.ts,.js}"],
    logging: true,
    synchronize: false,
    migrationsRun: false,
});

export default _ds;